<meta charset="utf-8" />
<title>طراحی و توسعه نرم‌افزار ایپک</title>
<meta
  name="description"
  content="طراحی و توسعه‌ی سیستم‌های نرم‌افزاری تحت وب"
/>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta property="og:title" content="" />
<meta property="og:type" content="" />
<meta property="og:url" content="" />
<meta property="og:image" content="" />

<!-- <link rel="manifest" href="site.webmanifest" /> -->
<link rel="apple-touch-icon" href="icon.png" />
<link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon" />
<!-- Place favicon.ico in the root directory -->

<!-- generated css file -->
<link rel="stylesheet" type="text/css" href="./css/style.css" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&family=Work+Sans:wght@500;700&display=swap"
  rel="stylesheet"
/>

<meta name="theme-color" content="#fafafa" />
