<div id="backdrop" class="fixed inset-0 hidden z-50 backdrop-blur-sm"></div>
<nav
  class="nav fixed bottom-0 top-0 flex w-80 flex-col gap-6 bg-slate-100 p-12"
>
  <a class="nav__item" href="/">home</a>
  <a class="nav__item" href="/about.html">about</a>
  <a class="nav__item" href="/projects.html">projects</a>
  <a class="nav__item" href="/services.html">services</a>
  <a class="nav__item" href="/contact.html">contact</a>
  <a class="nav__item" href="/blog.html">blog</a>
</nav>
<header
  class="duration-400 fixed inset-x-0 z-50 py-4 transition-all ease-in-out"
  id="header"
>
  <div class="container">
    <div class="flex flex-row items-center justify-between">
      <button id="navToggler" class="btn-ghost btn-square btn text-white">
        <svg
          fill="none"
          stroke="currentColor"
          stroke-width="1.5"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12"
          ></path>
        </svg>
      </button>
      <a id="logo" class="text-2xl text-white" href=""
        ><span class=" text-accent ">Ipek</span>Dev Co.</a
      >
    </div>
  </div>
</header>
